html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    outline: none;
}

html:focus, body:focus {
    outline: none;
}


body { 
  background-color: #0169FF;
  font-family: 'Helvetica', serif;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: luminosity;
  /*overflow: hidden;*/

}


h1 {
    color: black;
    padding-top: 2vw;
    font-size: 6vw;
    text-align: center;
    font-family: 'Helvetica', serif;
    font-weight: bolder;
    background-color: yellow;
    }

/*.content{
    margin-top: 15vw;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow:  row wrap;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    width: 100%;
    height: 100%;
}*/

.content {
    display: grid;
    margin-top: 8vh;
    grid-template-columns: 1fr 1fr 1fr;
    /*grid-template-rows: minmax(250px, 500px);*/
    grid-column-gap: 15px;
    /*grid-row-gap: 25px;*/
    grid-auto-flow: dense;
}

.title {
	display: block;
	text-align: center;
    background-color: yellow;
    width: 65vw;
	height: 10vw;
	position: relative;
    top: 5%;
    left: 15%;
}


img {
 max-width: 25%;
 /*transition: all .25s ease;*/
}

.home-lips {
    max-width: 100%;
}

.home-lips:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: rotate(-3deg) scale(1.25);
  }
  
  20%, 80% {
    transform: rotate(3deg) scale(1.25);
  }

  30%, 50%, 70% {
    transform: rotate(-3deg) scale(1.25);
  }

  40%, 60% {
    transform: rotate(3deg) scale(1.25);
  }
}

a {
    margin: 0;
    text-decoration: none;
    transition: all .25s ease;
    color: black;
}

a:hover {
    color: crimson;
}

.bg-celeb {
    width: 100%;
}

.poplip {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100vw;
    height: 100vh;
    /*margin-left: -100.53px;
    margin-top: -85.93px;*/
    z-index: 10;
    
    
}

#draggable-lip {
    z-index: 9;
    cursor: move!important;
}

}

@media only screen and (min-width: 1000px) {
    .poplip {
        margin-left: -190px!important;
        margin-top: -150px!important;
    }
}

.bottom-bar {
    position: fixed;
    width: 100%;
    height: 5vh;
    background-color: yellow;
    bottom: 0;
    left: 0;
    transition: all .25s ease;
}

.prev-link {
    position: fixed;
    bottom: 1%;
    left: 3%;
}

.next-link {
    position: fixed;
    bottom: 1%;
    right: 3%;
}

.home-link {
    position: fixed;
    bottom: 1%;
    left: 50%;
    margin-left: -9px;
}

.reveal {
    height: 40vh!important;
}

.reveal-content {
    position: fixed;
    width: 90%;
    bottom: 3%;
    left: 4%;
    opacity: 0;
    transition: all .25s ease;
}

.content-revealed {
    opacity: 1!important;
}

.box {
    width: 50px;
    height: 50px;
    background-color: purple;
    transform: translateX(-50px);
    transition: all .5s ease;
}

.box-button {
    width: 50px;
    height: 50px;
    background-color: green;
}

.open {
    transform: translateX(0px)!important;
}


