

body { 
  background-color: white;
  padding-top: 40px;
  padding-left: 100px;
  padding-right: 100px;
  font-family: 'helvetica';
  font-size: 40px;


}



img {
  max-width: 200px;
  height: auto;
  position: absolute;

}

footer {
    background-color: black;
    color: white;
    padding: 50px;
    text-align: center;


