

body { 
  background-color: black;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
 


}


h1 {
    color: black;
    font-size: 16px;
    text-align: center;
    font-family: 'IM Fell Double Pica', serif;
}


p {
    color: black;
    font-size: 16px;
    text-align: center;
    font-family: 'IM Fell Double Pica', serif;
}

p {
    color: black;
    font-size: 10px;
    text-align: center;
    font-family: 'IM Fell Double Pica', serif;
}


a {
    color: #b9b9b9;
    cursor: pointer;
}

img {
  max-width: 80px;
  height: auto;
  position: absolute;

}

footer {
    background-color: white;
    color: white;
    padding: 10px;
}


main {
    background-color: #dad5d5;
    padding: 10px;
}